* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
/* header start */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1.5rem 1.5rem;
  border-top: 2px solid yellowgreen;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.image-clickable {
  margin-right: auto;
}
.textH2 {
  margin-right: auto;
  color: #120e43;
}
.textH1 {
  color: #120e43;
}
.paragraph {
  color: #120e43;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 1rem;
}
.nav-links li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease 0s;
}
.nav-links li a:hover {
  color: rgba(0, 173, 181, 0.8);
}
.fas {
  margin-left: 8px;
}
/* header end */

/* section top start */
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15% 0 15%;
  overflow: hidden;
}

.btn {
  font-weight: bold;
  color: blue;
}
.btn:hover {
  font-size: 20px;
  color: rgba(3, 107, 112, 0.8);
  transition: all 0.5s ease 0.5s;
  cursor: pointer;
}

.top-right:hover img {
  transform: scale(1.1);
  transition: transform 2s ease-in-out;
}

/* section top end */

/* section 2nd start */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings {
  display: flex;
  padding-left: 4px;
}
.rate {
  margin-left: 10px;
}
.fa-star.filled {
  color: #fb8200;
}
.fa-star-half-alt.unfilled {
  color: #fb8200;
}
.fa-whatsapp.colored {
  color: #120e43;
}

.section-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 18px;
  color: #120e43;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.items {
  height: 350px;
  width: 329px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding-left: 14px;
  padding-top: 14px;
}
.parag {
  padding-left: 14px;
  padding-bottom: 5px;
}
/* ----------------------

------------------------------------------------------ */

.items .item img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.see-more {
  text-align: end;
  color: blue;
  margin-right: 70px;
  margin-top: 25px;
  cursor: pointer;
}

/* section 2nd end /

/* Banner section */
.ban {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #120e43;
}
.ban {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

.banner {
  margin-top: 10px;
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background: #33cccc;
  color: white;
  margin-bottom: 20px;
}

.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
}
.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;
}
/* footer */
footer {
  margin-top: 50px;
  font-weight: bold;
  color: #120e43;
  height: 200px;
  text-align: center;
  background: #ffffff;
}
footer .icon {
  cursor: pointer;
}

/* MOBILE SCREEN */
@media only screen and (max-width: 914px) {
  body {
    overflow-x: hidden;
  }
  header {
    display: none;
  }
  .top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .textH1 {
    font-size: 20px;
    text-align: center;
  }
  .paragraph {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
  }
  .btn {
    margin-left: 25px;
  }
  .top-right img {
    width: 160px;
    height: 140px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .collection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 40px;
  }
  .banner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* mobile screen end */

/* MEDIA SCREEN IPAD START */

@media (min-width: 820px) and (max-width: 1180px) {
  header {
    display: none;
  }
  .top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .textH1 {
    font-size: 20px;
    text-align: center;
  }
  .paragraph {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
  }
  .btn {
    margin-left: 25px;
  }
  .top-right img {
    width: 160px;
    height: 140px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .collection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 40px;
  }
  .banner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA SCREEN IPAD END */
